!!!5
html(lang="en-us", charset="utf-8")
  head
    title Sw&yuml;p Out
    meta(name="viewport", content="width = 485")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="swyp.js")
    script(src="https://api.filepicker.io/v0/filepicker.js")
  
  body

    block content
    
    p

    footer
      | Sunset by 
      a(href="http://www.flickr.com/photos/tolomea/7098030011/") tolomea on flickr.
      
      br
      
      | Sw&yuml;p is a  
      a(href="http://swyp.media.mit.edu") Media Lab Project
      | .
